body {
  background: #130f40;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #30336b 1px solid;
  padding: 20px;
  width: 250px;
  background: #dff9fb;
  margin: 50px auto;
  border-radius: 10px;
  color: #fff;
  background: #eb4d4b;
  font-family: "Inconsolata", monospace;
}

.digits.active {
  background: #6ab04c !important;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons button {
  width: 180px;
  padding: 10px 25px;
  cursor: pointer;
  background: #e056fd;
  color: #fff;
  border: #be2edd;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttons button:disabled:hover {
  background: #e056fd !important;
  color: #fff !important;
}

.buttons button:hover {
  color: #be2edd;
  background: #fff;
}

.buttons button:disabled {
  opacity: 0.5;
}

#laps {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 15px;
  width: 300px;
  margin: 0 auto;
}

#laps .lap-item {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20pt;
  margin: 15px 0 0;
  padding-top: 15px;
  border-top: #fff 1px solid;
  width: 100%;
  text-align: center;
}
